.clockContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vmin;
}
.clock{
	position: absolute;
	display: flex;
	left: 50%;
	margin-left: -12.5vmin;
	height: 25vmin;
	width: 25vmin;
	justify-content: center;
	align-items: center;
	background: url(../images/clock.png);
	background-size: cover;
	border: .2vmin solid white;
	border-radius: 50%;
	box-shadow: 0 -15px 15px rgba(0,0,0, 0.1),
				inset 0 -15px 15px rgba(0,0,0, 0.2),
				0 15px 15px rgba(0, 0, 0, 0.6),
				inset 0 15px 15px rgba(0, 0, 0, 0.4);
}

.clock::before{
	content: '';
	position: absolute;
	width: 1vmin;
	height: 1vmin;
	background: #fff;
	border-radius: 50%;
	z-index: 10;
	background-color: black;
}

.hour, .minute, .second{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
}

.hour::before{
	position: absolute;
	content: "";
	top: .5vmin;
	height: 45%;
	width: .25vmin;
	background: black;
	border-radius: 10px;
	z-index: 3;
}

.minute::before{
	position: absolute;
	content: "";
	top: -1vmin;
	height: 75%;
	width: .15vmin;
	background: blue;
	border-radius: 10px;
	z-index: 2;
}


.second::before{
	position: absolute;
	content: "";
	top: -2.5vmin;
	height: 100%;
	width: .1vmin;
	background: red;
	border-radius: 10px;
	z-index: 1;
}